
<!-- View mode -->
@if (!editable) {
  <h2>{{ experience.position }}</h2>
  <button (click)="editable = !editable">Edit</button>
  <ul>
    @for (bulletPoint of experience.bulletPoints; track bulletPoint.description) {
        <app-bullet-point
          (remove)="remove(bulletPoint)"
          [bulletPoint]="bulletPoint"
          [editable]="editable">
        </app-bullet-point>
    }
  </ul>
}

<!-- Edit mode -->
@if (editable) {
  <h2>{{ experience.position }}</h2>
  @for (bulletPoint of experience.bulletPoints; track bulletPoint.description) {
    <app-bullet-point
      (remove)="remove(bulletPoint)"
      [bulletPoint]="bulletPoint"
      [editable]="editable">
    </app-bullet-point>
  }
  <p>Add a new bullet</p>
  <textarea
    placeholder="New bullet point"
    [formControl]="bulletControl"
    #newBullet
    (keyup.enter)="addBullet(newBullet.value)">
  </textarea>
  <button (click)="addBullet(newBullet.value)">Add Bullet</button>
  <br>
  <br>
  <div class="button-container">
    <button class="wide-button" (click)="editable = !editable">Done</button>
    <button class="delete-button wide-button" (click)="removeExperience.emit()">Delete</button>  
  </div> 
  }
