<li>
<!-- If in view mode -->
@if (!editable) {
  {{ bulletPoint.description }}
  <button (click)="editable = !editable">Edit</button>
  <button (click)="remove.emit()">Delete</button>
  <br>
  @for (tag of bulletPoint.applicableTags; track tag) {
    <span>{{tag}}</span>
  }
}

<!-- If in edit mode -->
@if (editable) {
  <input
    placeholder="edit experience"
    [value]="bulletPoint.description"
    #editedBullet
    (keyup.enter)="saveBullet(editedBullet.value)" />
  <button (click)="editable = !editable">Cancel</button>
  <button (click)="saveBullet(editedBullet.value)">Save</button>
  <br>
  @for (tag of bulletPoint.applicableTags; track tag) {
    <span>{{tag}}</span>
  }
  <input
    placeholder="add skill"
    #newTag />
  <button (click)="addTag(newTag.value)">Add</button>
}
</li>