h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 0px;
}

.description {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}