<section>
  <label>
    <input type="radio" [formControl]="filterControl" value="all" checked> All
  </label>
  @for (tag of uniqueTags; track tag) {
    <label>
      <input type="radio" [formControl]="filterControl" [value]="tag"> {{tag}}
    </label>
  } @empty {
    <h2>No Tags</h2>
  }
</section>
<section>
  @for (experience of filteredExperiences; track experience.position) {
    <app-experience [experience]="experience"></app-experience>
  } @empty {
    <h2>No experiences to show</h2>
  }
</section>