body {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
button {
  background-color: rgb(210, 210, 210);
  border: none;
  font-size: 16px;
  padding: 5px 14px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: rgb(225, 225, 225);
}

.delete-button {
  background-color: rgb(230, 30, 30);
  color: white;
}

.delete-button:hover {
  background-color: rgb(255, 50, 50);
}


/* Input and textareas */
textarea {
  width: 98%;
  height: 60px;
  padding: 8px 14px;
  resize: none;
}
